@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque */
    --primary: 18 89% 57%; /* #f36c32 Orange */
    --primary-hover: 18 89% 48%;

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }
}
