@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque */
    --primary: 156 54% 53%; /* #40D190 */
    --primary-hover: 156 54% 43%;

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }
}
