@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque */
    --primary: 18 89% 58%; /* #FF6B35 Orange vif */
    --primary-hover: 18 100% 52%;

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-anim {
  animation: fadeInUp 0.9s ease-out forwards;
}

.hero-anim-delay-1 {
  animation: fadeInUp 0.9s ease-out 0.2s forwards;
  opacity: 0;
}

.hero-anim-delay-2 {
  animation: fadeInUp 0.9s ease-out 0.4s forwards;
  opacity: 0;
}

@keyframes serviceFadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-anim {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease-out,
    transform 0.9s ease-out;
}

.service-anim.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Animation feature  */

.feature-card {
  opacity: 0;
  transform: translateY(60px) scale(0.94);
  transition:
    opacity 1.6s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.feature-card.visible {
  opacity: 1;
  transform: translateY(0) scale(1);

  /* Transition hover normale après apparition */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.feature-card:nth-child(1) {
  transition-delay: 0.2s;
}

.feature-card:nth-child(2) {
  transition-delay: 0.35s;
}

.feature-card:nth-child(3) {
  transition-delay: 0.5s;
}
