@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque */
    --primary: 18 89% 58%; /* #FF6B35 Orange vif */
    --primary-hover: 18 100% 52%;

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
